body{
	background: blue
}
h2{font-family: comic sans ms; background-color: red; text-align: center;}
table{background: grey}
.td{font-weight: bold;}
div.outset {
		border-style: outset;
	}

div.dashed {
		border-style: dashed;
	}